{% assign oss = site.data.data.oss %}
{% if oss %}
<section class="section oss-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-box-open fa-stack-1x fa-inverse"></i>
    </span>
    {{ oss.title }}
  </h2>

  {% if oss.intro %}
  <div class="intro">
    <p>{{ oss.intro }}</p>
  </div>
  {% endif %}

  {% for contribution in oss.contributions %}
  <div class="item">
    <span class="project-title">
      {% if contribution.link %}
      <a href="{{ contribution.link }}" target="_blank">{{ contribution.title }}</a>
      {% else %}
      {{ contribution.title }}
      {% endif %}
    </span>
    {% if contribution.tagline %}
    - <span class="project-tagline">{{ contribution.tagline }}</span>
    {% endif %}
  </div>
  {% endfor %}

  {% for item in oss.list %}
  <div class="item" style="margin-bottom: 20px;">
    <div class="meta">
      <div class="upper-row">
        <h3 class="cert-title">{{ item.name }}</h3>
        <div class="time">
          {{ item.start }} {% if item.end %} - {{ item.end }} {% endif %}
        </div>
      </div>

      <div class="second-upper-row">
        <div class="publication-authors" style="margin-bottom: 0;">
          {{ item.organization }}
          {% if item.credentialid %}
          ({{ item.credentialid }})
          {% endif %}
        </div>

        {% if item.credentialurl %}
        <div class="cert-url">
          <a
            href="//{{ item.credentialurl }}"
            target="_blank"
            rel="noreferrer nofollow noopener">
            {{ item.credentialname }}
          </a>
        </div>
        {% endif %}
      </div>
    </div>

    {% if item.details %}
    <div class="cert-org" style="margin-top: 0; color: gray;">
      {{ item.details | markdownify }}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</section>
{% endif %}
